.wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  min-height: 600px;
  position: relative;
}
.elementIWantToAnimate {
  margin: 10px;
  height: 100px;
  background: red;
  width: 100px;
  /* flex: 0 0 8%; */
  position: absolute;
}

@keyframes elasticity {
  30% {
    top: 160px;
  }
  50% {
    top: 200px;
  }
  70% {
    top: 180px;
  }
  85% {
    top: 200px;
  }
  
  90% {
    top: 190px;
  }
  100% {
    top: 200px;
  }
}
.fantan {
  animation: elasticity 1.2s ease-out;
}
